In [1]:
import pandas as pd

### Read initial raw data file (csv)

In [7]:
df = pd.read_csv("../data/raw/cars.csv")
print(df.shape)
df.head(5)

(38531, 30)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

### Remove duplicates and missing data

In [8]:
df = df.dropna()
df = df.drop_duplicates()
print(df.shape)

(38481, 30)

### Get datatype of each feature

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38481 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38481 non-null  object
 1   model_name         38481 non-null  object
 2   transmission       38481 non-null  object
 3   color              38481 non-null  object
 4   odometer_value     38481 non-null  int64
 5   year_produced      38481 non-null  int64
 6   engine_fuel        38481 non-null  object
 7   engine_has_gas     38481 non-null  bool
 8   engine_type        38481 non-null  object
 9   engine_capacity    38481 non-null  float64
 10  body_type          38481 non-null  object
 11  has_warranty       38481 non-null  bool
 12  state              38481 non-null  object
 13  drivetrain         38481 non-null  object
 14  price_usd          38481 non-null  float64
 15  is_exchangeable    38481 non-null  bool
 16  location_region    38481 non-null  object
 17  number_of_photos   38481 non-null  int64
 18  up_counter         38481 non-null  int64
 19  feature_0          38481 non-null  bool
 20  feature_1          38481 non-null  bool
 21  feature_2          38481 non-null  bool
 22  feature_3          38481 non-null  bool
 23  feature_4          38481 non-null  bool
 24  feature_5          38481 non-null  bool
 25  feature_6          38481 non-null  bool
 26  feature_7          38481 non-null  bool
 27  feature_8          38481 non-null  bool
 28  feature_9          38481 non-null  bool
 29  duration_listed    38481 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.8+ MB

### Only care about keeping cars that are 'owned' as oppossed to 'emergency' and 'new', for this project

In [11]:
df['state'].unique()

array(['owned', 'emergency', 'new'], dtype=object)

In [12]:
df = df[df['state'] == 'owned']

# Removing Features:
- feature_0 -feature_9 can't be confirmed to mean anything
- engine_has_gas: is this relevant to sales price? most likely not.
- number_of_photos: there could be a correlation to quantity and quality of photos for online sales, but not the scope of this project.
- duration_listed: From author of dataset, this isn't reliable
- up_counter: could be useful to show correlation between people upvoting a car post and its price (desirability) but beyond this project.
- location_region: only 6 unique locations, ok for local market analysis, but not general enough for this project.
- is_exchangeable: can have an affect on online sales, but not for this project.
- state: once we filter only 'used' this column will no longer be unique.
- engine_type: redundant with 'engine_fuel' which has more variation.

In [13]:
to_drop = ["feature_0", "feature_1", "feature_2", "feature_3", "feature_4", "feature_5", "feature_6", "feature_7", "feature_8", "feature_9", "engine_has_gas",
           'number_of_photos', 'duration_listed', 'up_counter', 'location_region', 'is_exchangeable', 'state', 'engine_type']
df = df.drop(columns=to_drop)
df.head(5)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_capacity,body_type,has_warranty,drivetrain,price_usd
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,all,10900.00
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,all,5000.00
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,all,2800.00
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,all,9999.00
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,all,2134.11

# Rename for simplicity

In [14]:
df = df.rename(columns={"manufacturer_name": "make", "model_name": "model", "odometer_value": "mileage", "year_produced": "year", "engine_fuel": "fuel",
                        "price_usd": "price"})

# Lower text

In [15]:
to_lower = ['make', 'model', 'transmission', 'color', 'fuel', 'body_type', 'drivetrain']
for col in to_lower:
    df[col] = df[col].str.lower()

In [16]:
print(df.shape)
df.head(3)

(37705, 12)

,make,model,transmission,color,mileage,year,fuel,engine_capacity,body_type,has_warranty,drivetrain,price
0,subaru,outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,all,10900.0
1,subaru,outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,all,5000.0
2,subaru,forester,automatic,red,402000,2001,gasoline,2.5,suv,False,all,2800.0

In [17]:
df.to_csv("../data/clean/cars.csv", index=False)